@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Tourney:ital,wght@1,100&display=swap");
:root {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-width: 770px;
  background-color: rgb(223, 161, 148);
}

main {
  animation: ease-in;
  transition: all 300ms;
}

h1.title {
  display: flex;
  justify-content: center;
  font-family: "Tourney", cursive;
  font-size: 50px;
}

.game-list {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-style: solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  animation: ease-in;
  transition: 300ms;
}

.game-box > img {
  height: 100px;
  border-radius: 15px;
}

.game-box:hover {
  filter: brightness(1.2);
}

.back-button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  font-size: 10px;
  background-color: crimson;
  box-shadow: 3px 5px;
  cursor: pointer;
}
.refresh-button {
  border-radius: 5px;
  font-size: 10px;
  background-color: chartreuse;
  box-shadow: 3px 5px;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.content > .game {
  max-width: 610px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
}

.game > .field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game > .suit-result {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.content > .score-board {
  max-width: 207px;
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 5px;
}

.suit-container {
  width: 40%;
  height: 200px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}

.hand > img {
  height: 60px;
  width: 50px;
  margin: 20px 10px;
  transition: all 500ms;
}

.hand > img:hover {
  filter: brightness(1.3);
}
